.div1{
   border: 1px solid darkcyan;
   background-color: bisque;
   min-height: 500px;
   /* height: 400px; */
   width: 400px;
   /* overflow: scroll; */
}
.div2{
   border: 5px solid brown;
   background-color: black;
   color: white;
   min-height: 400px;
   min-width: 400px;
   max-width: 800px;
}
.div3{
   border: 1px solid darkcyan;
   background-color: coral;
   /* margin: 20px; */
   margin: 10px 10px 10px 10px ;
   width: 450px;
}
.para{
    background-color: antiquewhite;
    margin: 10px 10px 10px 10px ;
    padding: 10px 10px 10px 10px ;
}
li{
   margin: 10px;
   padding: 5px;
   display: inline-block;
   background-color: aquamarine;
}
a{
   display: block;
   list-style: none;
   text-decoration: none;
}
#LI{
   /* visibility: hidden; */
}
.div4{
   border: 2px solid blue;
   margin: 10px;
   padding: 10px;
   box-shadow: 10px 10px 10px black;
   /* box-shadow: -10px -10px 10px rgb(252, 2, 2); */
   border-radius: 40px;
}
table{
   width: 500px;
   margin: 0px;
}